.advantages {
  &--icon {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;

    text-align: center;

    border-radius: 4px;
    background: #f5f4fa;
  }

  &--title {
    margin-bottom: 10px;
    text-align: center;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &--text {
    color: $secondary-text-color;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }

  @media screen and (max-width: 767px) {
    &--item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      max-width: 450px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    min-width: 354px;

    &--item {
      max-width: 354px;

      &:nth-child(2n-1) {
        margin-right: 30px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1198px) {
    &--item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &--item {
      max-width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
