.join {
    margin-right: 93px;
}

.join--title {
    margin-bottom: 20px;
    padding-top: 11px;

    color: #fff;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
