.menu {
  position: relative;

  width: 40px;
  height: 40px;

  border: none;
  padding: 0;
  background: none;

  &--img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--burger {
    opacity: 1;

    transition: opacity $transition;
  }

  &--cross {
    opacity: 0;
    pointer-events: none;

    transition: opacity $transition;
  }

  .mob-menu.is-open ~ .menu > &--burger {
    opacity: 0;
    pointer-events: none;
  }

  .mob-menu.is-open ~ .menu > &--cross {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
