.nav {
  color: $main-text-color;
  font-size: 40px;
  font-weight: 500;

  letter-spacing: 0.8px;
}

.nav-list {
  &--item {
    position: relative;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &--link {
    display: block;
    box-sizing: border-box;

    text-decoration: none;
    color: $main-text-color;

    transition: color $transition;

    .nav-list--item &:hover,
    .nav-list--item &:focus {
      color: $accent-color;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: calc(100vh - 472px);

    &--item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.28px;

    &--item:not(:last-child) {
      margin-right: 50px;
    }

    &--link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
